@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: white;
}

.home
{
	height: 100vh;
	width: 100%;
	background: url('home-bg.jpg') center/cover no-repeat;
	position: relative;
}

.home::before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vh;
	background: linear-gradient(to top, black,transparent);
}


.home .menubar
{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2000;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(3px);
}
.home .menubar .logo
{	
	margin: 0px 0px 0px 150px;
	font-size: 15px;
}
.home .menubar ul
{
	margin: 0px 150px;
	font-size: 14px;
	width: 35%;
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.home .menubar ul a
{
	text-decoration: none;
	color: white;
}
.home .menubar ul #f1
{
	width: 25px;
	border-bottom: 2px solid;
}
.home .menubar .menu
{
	font-size: 18px;
	display: none;
}
.travel
{
	color: white;
	margin: 100px 0px 0px 140px;
}
.travel font
{
	display: block;
}
.travel span
{
	margin: 5px 0px;
	display: inline-block;
	width: 40%;
	font-size: 80px;
	font-weight: 450;
	line-height: 80px;
}
.travel p
{
	margin: 10px 0px;
	width: 40%;
	font-size: 14px;
}

.travel button
{
	margin: 10px 0px;
	height: 45px;
	width: 20%;
	backdrop-filter: blur(2px);
	background-color:rgba(108, 122, 137,0.5);
	border: none;
	color: white;
}
.travel button i
{
	margin-left: 15px;
}
.location
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 30px 100px ;
}

.location .img
{
	width: 20%;
	position: relative;
	z-index: 1000;
}
.location .img.img1 img
{
	width: 90%;
}
.location .img.img2 img
{
	width: 90%;
}
.location .img.img3 img
{
	width: 90%;
}
.location .img.img4 img
{
	width: 90%;
}
.location .img font
{
	position: absolute;
	left: 10px;
	bottom: 20px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.page2 
{
	margin-top: -10px;
	height: 100vh;
	width: 100%;
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.page2 .about font
{
	display: inline-block;
	font-size: 40px;
	font-weight: 500;
	width: 300px;
}
.page2 .about
{
	margin-top: 400px;
	margin-left: 50px;
}
.page2 .about button
{
	margin: 10px 0px;
	height: 45px;
	width: 200px;
	backdrop-filter: blur(2px);
	background-color:rgba(108, 122, 137,0.5);
	border: none;
	color: white;
}
.page2 .about i
{
	margin-left: 15px;
}
.page2 .about p
{
	font-size: 14px;
	margin: 20px 0px;
	width: 80%;
}

.page2 .image1
{
	margin-top: 400px;
}
.page2 .image1 img
{
	width: 90%;
}
.page3
{
	height: 100vh;
	width: 100%;
	background-color: black;
}
.page3 font
{
	display: inline-block;
	font-size: 50px;
	font-weight: 500;
	width: 450px;
	text-align: center;
	margin: 250px 0px 100px 0px;
}

.page3 .beauty2
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.page3 .beauty2 .image2
{
	width: 20%;
}
.page3 .beauty2 .image2.imgs1 img
{
	width: 100%;
}
.page3 .beauty2 .image2.imgs2 img
{
	width: 100%;
}
.page3 .beauty2 .image2.imgs3 img
{
	width: 100%;
}
.page3 .beauty2 .image2 font
{
	width: 50%;
	font-size: 15px;
	margin-top: 0px;
	margin-left: 0px;
}
.page3 .beauty2 .image2 p
{
	width: 100%;
	font-size: 15px;
	margin-top: -100px;
}
.page3 .beauty2 .image2 i
{
	margin-right: 10px;
}

.page4
{
	height: 100vh;
	width: 100%;
	background-color: black;
}
.page4 img
{
	margin-top: 300px;
	height: 90vh;
	width: 100%;
}
.page4 .beach1
{
	position: relative;
}
.page4 .beach1::before
{
	content: '';
	position: absolute;
	top: 300px;
	left: 0;
	height: 100px;
	width: 100%;
	background: linear-gradient(black,transparent);
}
.page4 .beach1::after
{
	content: '';
	position: absolute;
	bottom: 5px;
	left: 0;
	height: 100px;
	width: 100%;
	background: linear-gradient(to top,black,transparent);
}
.page4 .explore
{
	margin-left: 140px;
}

.page4 .explore font
{
	position: absolute;
	z-index: 10;
	display: inline-block;
	font-size: 40px;
	width: 30%;
	margin-top: -100px;
	line-height: 40px;
}
.page4 .explore p
{
	margin-top: 20px;
	width: 70%;
	font-size: 14px;
}
.page5
{
	margin-top: -10px;
	height: 100vh;
	width: 100%;
	background-color: black;
}
.page6
{
	margin-top: -10px;
	height: 80vh;
	width: 100%;
	background-color: black;
}
.page7
{
	margin-top: -10px;
	height: 100vh;
	width: 100%;
	background-color: black;
}

/*#autoshow
{
	animation: autoshows both;
	animation-timeline: view(70% 5%);
}
*/
@keyframes autoshows
{
	from
	{
		opacity: 0;
		transform: translatey(200px) scale(0.3);
	}
	to
	{
		opacity: 1;
		transform: translatey(0) scale(1);
	}
}

.island
{
	margin-top: 200px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.island .img
{
	background: url('join-island.jpg') bottom/cover no-repeat;
	height: 400px;
	width: 30%;
	margin-left: 150px;
}
.island h1
{
	width: 50%;
}
.island p
{
	font-size: 15px;
	margin: 20px 0px;
	width: 60%;
	color: rgba(255, 255, 255, 0.7);
}

.island #input
{
	height: 50px;
	width: 270px;
	background-color:rgba(108, 122, 137,0.2);
	border: none;
	color: white;
}
.island button
{
	margin: 10px 0px;
	height: 50px;
	width: 270px;
	background-color:rgba(108, 122, 137,0.5);
	border: none;
	color: white;
}
.island button span
{
	margin-left: -50px;
}
.island button i
{
	margin-left: 20px;
}
::placeholder
{
	padding-left: 10px;
}

.footer
{
	height: 60vh;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	line-height: 30px;
}
.footer #ft
{
	font-size: 22px;
}
.footer .footer1 #para
{

	margin-top: 35px;
	width: 60%;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.4);
	line-height: 20px;

}
.footer p
{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.4);
}

@media (max-width:1024px)
{
	.home
	{
		height: 550px;
	}
	.home .menubar ul
	{
		display: none;
	}
	.home .menubar .menu
	{
		display: block;
		margin-right: 80px;
	}
	.page2 
	{
		height: 500px;
	}
	.page2 .about
	{
		margin-top: 250px;
	}
	.page2 .image1
	{
		margin-top: 250px;
	}
	
	.page2 .image1 img
	{
		width: 90%;

	}
	.page3
	{
		margin-top: -10px;
	}
	.page3 .beauty2 .image2 #log
	{
		margin-left: -5px;
	}
	.page3 .beauty2 .image2 font
	{
		margin-left: -20px;
		width: 50%;
	}

	.page4 img
	{
		margin-top: -200px;
		height: 40vh;
		width: 100%;
	}

	.page4 .beach1::before
	{
		content: '';
		position: absolute;
		top: -205px;
		left: 0;
		height: 100px;
		width: 100%;
		background: linear-gradient(black,transparent);
	}
	.island .img
	{
		height: 300px;
		width: 50%;
		margin-left: 60px;
	}
	.island .journey
	{
		margin-left: 70px;
	}
	.island .journey h1
	{
		width: 80%;
	}
	.page5
	{
		display: none;
	}
	.page6
	{
		display: none;
	}
	.footer
	{
		margin-top: -10px;
		height: 400px;
	}
	.footer .footer1 #para
	{
		width: 50%;
	}
	.footer .footer2
	{
		margin-left: -180px;
	}
}


@media (max-width:661px)
{
	.home .menubar ul
	{
		display: none;
	}
	.home .menubar .menu
	{
		display: block;
	}
	.travel 
	{
		margin-left: 20px;
	}
	.travel span
	{
		width: 50%;
		line-height: 60px;
		font-size: 45px;
	}
	.travel p
	{
		width: 65%;
	}
	.travel button
	{
		width: 50%;
	}
	.home .menubar .logo
	{
		margin-left: 50px;
	}
	.location
	{
		flex-direction: column;
		margin: 0px;
	}
	.location .img
	{
		margin-top: 30px;
		width: 50%;
	}
	.page2 
	{
		flex-direction: column;
	}
	.page2 .about
	{
		margin-top: 800px;
		margin-left: 20%;
	}
	.page2 .image1
	{
		margin-top: 50px;
		margin-left: 40px;
	}

	.page3 .beauty font
	{
		margin-top: 1200px;
		width: 300px;
		font-size: 30px;
	}
	.page3 .beauty2
	{
		flex-direction: column;
	}
	.page3 .beauty2 .image2
	{
		margin-top: 20px;
		width: 60%;
	}
	.page4
	{
		margin-top: -10px;
	}
	.page4 img
	{
		height: 300px;
		margin-top: 1700px;
	}
	.page4 .beach1::before
	{
		content: '';
		position: absolute;
		top: 1695px;
		left: 0;
		height: 100px;
		width: 100%;
		background: linear-gradient(black,transparent);
	}
	.page4 .explore font
	{
		margin-left: -100px;
		width: 70%;
	}
	.page4 .explore p
	{
		margin-left: -100px;
		width: 120%;
		margin-top: 0px;
	}
	.island
	{
		flex-direction: column;
	}
	.island .img
	{
		height: 300px;
		width: 70%;
		margin-left: 0px;
	}
	.island .journey
	{
		margin-left: 70px;
	}
	.island .journey h1
	{
		margin-top: 50px;
		width: 70%;
	}
	.page8
	{
		margin-top: -10px;
		background-color: black;
		height: 80vh;
		width: 100%;
	}
	.page5
	{
		display: block;
	}
	.page6
	{
		display: block;
		height: 600px;
	}
	.footer
	{
		flex-direction: column;
		height: 740px;
		padding: 20px;
	}
	.footer .footer1
	{
		margin-top: 50px;
		margin-left: -70px;
	}
	.footer .footer1 #para
	{
		margin-top: 10px;
		width: 60%;
	}
	.footer .fot.footer2
	{
		margin-left: -310px;
	}
	.footer .fot.footer5
	{
		margin-left: -280px;
	}
	.footer .fot 
	{
		margin-top: 20px;
		margin-left: -290px;
	}

}